.row {
  display: flex;
  align-items: center;
}

.navHeader {
  composes: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.navHeaderScroll {
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px -2px rgba(0, 0, 0, 0.4);
}

.navLinks {
  composes: row;
  gap: 2.5rem;
}

.navLinks a:hover {
  color: var(--color-orange);
}

.actions {
  composes: row;
  gap: 1.5rem;
}

/* .login {
  composes: extra-light-neutralBg from "../../styles/colors.module.css";
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.login:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.login:active {
  transform: translateY(1px);
} */

.active {
  color: var(--color-orange);
  font-weight: 500;
  border-bottom: 1px solid var(--color-orange);
  padding-bottom: 3px;
}

.cart {
  display: flex;
}

.cart:hover {
  color: var(--color-orange);
  cursor: pointer;
}

.badge {
  composes: primaryBg from "../../styles/colors.module.css";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartBox {
  position: absolute;
  right: 2rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 90px;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .navHeader {
    padding: 1rem;
  }

  .navLinks {
    display: none;
  }

  .actions {
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .actions button {
    display: none;
  }

  .cartBox {
    left: 1rem;
    right: 1rem;
    width: auto;
  }
}
